<!--<div class="col-md-6">-->
    <!--<div class="card flex-md-row mb-4 box-shadow h-md-250">-->
        <!--<div class="card-body d-flex flex-column align-items-start">-->
            <!--<strong class="d-inline-block mb-2 text-primary">World</strong>-->
            <!--<h3 class="mb-0">-->
                <!--<a class="text-dark" routerLink="{{model.links.__self}}">{{model.title}}</a>-->
            <!--</h3>-->
            <!--<div class="mb-1 text-muted">{{model.dateCreated}}</div>-->
            <!--<p class="card-text mb-auto">{{model.snipet}}</p>-->
            <!--<a routerLink="{{model.links.__self}}">Continue reading</a>-->
        <!--</div>-->
        <!--&lt;!&ndash;<img *ngIf="model.snipet_image" class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">&ndash;&gt;-->
        <!--&lt;!&ndash;<img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">&ndash;&gt;-->
    <!--</div>-->


<!--<div class="col-md-6">-->
<!--<div class="card flex-md-row mb-4 box-shadow h-md-250">-->
    <!--<div class="card-body d-flex flex-column align-items-start">-->
        <!--<h5 class="card-title">Card title</h5>-->
        <!--<h6 class="card-subtitle text-muted">Card subtitle</h6>-->
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <!--<a href="#" class="card-link">Card link</a>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->


<div class="card">
    <div class="card-body">
        <strong class="text-primary">World</strong>
        <h3 class="mb-0">
            <a class="text-dark" routerLink="{{model.links.__self}}">{{model.title}}</a>
        </h3>
        <div class="mb-1 text-muted">{{model.dateCreated}}</div>
        <p class="card-text">{{model.snipet}}</p>
        <a routerLink="{{model.links.__self}}">Continue reading</a>
    </div>
    <!--<img *ngIf="model.snipet_image" class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">-->
    <!--<img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">-->
</div>