<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container d-flex flex-row flex-md-nowrap flex-wrap">

    <!-- the togglebutton -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- the name -->
    <ul class="navbar-nav ml-auto">
      <a class="navbar-brand" href="#">Apptozee</a>
    </ul>



    <div class="collapse navbar-collapse flex-md-unordered flex-last" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <!-- future drop down menu -->
        <!--<li class="nav-item dropdown" ngbDropdown>-->
        <!--<a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Products</a>-->
        <!--<div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>-->
        <!--<a class="dropdown-item" href="#">Action</a>-->
        <!--<a class="dropdown-item" href="#">Another action</a>-->
        <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--</div>-->
        <!--</li>-->
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>

      <div class="hidden-md-up w-100"><!--hidden spacer to force wrap--></div>

      <!-- user sign in component -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>

      <!-- search bar when menu is expanded -->
      <ul class="d-flex mr-auto" *ngIf="!isCollapsed">
          <app-navbar-search></app-navbar-search>
      </ul>
    </div>

    <!-- search bar when menu is not expanded -->
    <div class="d-flex ml-auto" *ngIf="isCollapsed">
              <app-navbar-search></app-navbar-search>
    </div>

  </div>

</nav>
